@import url('https://fonts.google.com/specimen/Epilogue');

:root {
  --font-family: 'Epilogue', sans-serif;

  --off-white: hsl(0, 0%, 98%);
  --mid-gray: hsl(0, 0%, 41%);
  --off-black: hsl(0, 0%, 8%);

  --font-base: 18px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: var(--font-family);
}

body {
  background: var(--off-white);
}

a {
  color: unset;
  text-decoration: none;
}
